{% extends "auth_base.html" %}

{% block title %}FreeBSD Community Portal :: View User Details{% endblock %}

{% block head %}
<style type="text/css">
table {
	width: 90%;
	margin: 0 auto;
}
table th {
	text-align: right;
}

textarea {
	width: 100%;
	height: 5em;
}
</style>
{% endblock %}

{% block content %}
<div class="centerbox" style="margin-top: -225px; margin-left: -360px; height: 450px; width: 720px;">
	<h3>
		User: {{ view_user.first_name|default:"FreeBSD" }} {{ view_user.last_name|default:"User" }}{% if can_edit %}<br />
		<span style="font-size: small;">Last logged in via: {{ last_login }}</span>{% endif %}</h3> 
	<h4></h4>
	<div class="msg-callout"><a href="{% url portal.views.send_msg view_user.pk %}">Message this user</a></div>
	
	{% if can_edit %}
	<form action="{% url portal.views.user user.id %}" method="POST">
	{% csrf_token %}
	{% endif %}

	<table>
{% for x in user_fields %}
		<tr>
			<th width="25%">{{ x.0 }}</th>
			<td>
				{% if x.2 == "textarea" %}
				<textarea name="{{ x.1 }}" {% if not can_edit %} disabled="disabled"{% endif %}>{{ x.3|default:"None entered." }}</textarea>
				{% else %}
				<input name="{{ x.1 }}" type="text" size="90" maxlength="255" value="{{ x.3|default:"None entered." }}" {% if not can_edit %} disabled="disabled"{% endif %}></input>
				{% endif %}
			</td>
		</tr>
{% endfor %}
	</table>
	{%if can_edit %}
	<div style="padding-top: 20px">
		<input type="submit" value="Save Changes"></input>
	</div>
	</form>
	{% endif %}
</div>
{% endblock %}