html {
	height: 100%;
	
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	
	font-family: helvetica, verdana, arial, sans-serif;
}

#content {
	position: absolute;
	height: 100%;
	width: 100%;
}

#messages {
	position: absolute;
	top: 20px;
	z-index: 1;
	
	margin-left: -250px;
	left: 50%;
	width: 500px;
	
	text-align: center;
}
#messages > div {
	width: 100%;
}

#messages > div > div {
	padding: 3px;
	margin: 6px auto;
	
	display: inline-block;

	font-weight: bold;
	
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.msg-success { color: #2e3436; background-color: #8ae234; border: #73d216 3px solid; }
.msg-warning { color: #2e3436; background-color: #fce94f; border: #edd400 3px solid; }
.msg-error { color: #eeeeec; background-color: #ef2929; border: #cc0000 3px solid; }

#sidebar {
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 1;
	
	padding: 2px;
	
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fce94f;
}

.centerbox {
	position: absolute;
	top: 50%;
	left: 50%;
	
	margin-top: -100px;
	margin-left: -360px;

	height: 200px;
	width: 720px;
	
	text-align: center;
	
	border: 1px solid #ccc;
	background-color: #f3f3f3;
}

#logout h2 {
	padding-bottom: 30px;
}

#logout p {
	background-color: #e3e3e3;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 2px;
}

ul#auth {
	display: inline;
}

ul#auth li {
	list-style: none;
	display: inline;
	padding-right: 3px;
}

ul#auth li a {
	text-decoration: none;
}

#login-method {
	font-weight: bold;
}